<header>
	<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<nav>
			<ul id="nav_list">
				<li><a id="admin_page" href="/admin-page"> <img src="/images/setings.png"> </a></li>
				<li><a id="test-results" href="/admin-page/test-results">Результати</a></li>
				<li><a id="create-test" href="/create-test">Створити</a></li>
				<li style="float: right;"><a href="/profile"> <img src="/images/person_white.png"></a></li>
			</ul>
		</nav>
	</header>

