<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin-page.css">
</head>
<body>


	<div class="container">

		<%if(access){%>
			<%- include partials/header.ejs %>
		<%}%>
		<%if(access){%>
			<div id="home_page">
				
				<div class="image">
					<p>Це сторінка призначена для адміністратора.<br>Вона надає можливості перегляду результатів тестувань та створеннях нових .</p>
					<div class="btn_div">
						
					</div>
				</div>
			</div>
		<%}else{%>

			<div class="error-div">
				<img src="/images/access_error.png" width="200px">
				<h1 class="error-message">У вас немає доступу до цієї сторінки</h1>
				<a href="/tests/">Повернутись</a>
			</div>

		<%}%>
	</div>

</body>
</html>